.doctor{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 0.8rem;
    justify-content: space-between;
}
.doctor-name{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
#settings{
    width: 20px;
    height: 20px;
    margin-top: 9px;
}
#threedots{
    height: 25px;
    margin-top: 8px;
}