.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: red;
}